extends layout

block content
  h1= title
  br
  if user 
    h3 Welcome back #{user.username}
    a(href='/logout') Logout 
  else 
    p Already have an account?
      a(href='/login') Login
    p New User?
      a(href='/register') Register
